<html>
	<head>
	<title>Please add new book</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css">
	</head>
   <body>
   <a href="/">back</a>
		<div class="<%= result %>"> <%= txt %> </div>
      
   </body>
</html>