<html>
	<head>
	<title>Please add new book</title>
	</head>
   <body>
      <h1> Please add new book, do not forget about correct link to cover </h1>
      <form action = "http://127.0.0.1:8081/addBook" method = "POST">
         Title: <input type = "text" name = "title"> <br>
         Author: <input type = "text" name = "author"> <br>
		 Cover url: <input type = "text" name = "cover">
         <input type = "submit" value = "Submit">
      </form>
      
   </body>
</html>