<html>
	<head>
	<title>Welcome in our library.</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css">
	</head>
   <body>
	<h1>Welcome in our library, choose your action:</h1>
      <a href="addBookForm">Add new book to our database</a> <br \>
	  <a href="listBooks">Check all already registered books</a>
      
   </body>
</html>