<html>
<head>

<script>

var isAllDataReceived = false;
var maxImgSizeBasedOnHeightOfBrowser = window.innerHeight /5;
function insertRow(data){
            var table=document.getElementById("mainTable");
            var row=table.insertRow(table.rows.length);
            var cell1=row.insertCell(0);
            var t1=document.createTextNode(data.title);
                
                cell1.appendChild(t1);
            var cell2=row.insertCell(1);
            var t2=document.createTextNode(data.author);
                
                cell2.appendChild(t2);
            var cell3=row.insertCell(2);
	  
			var image = document.createElement("img");

			image.style.height = maxImgSizeBasedOnHeightOfBrowser;
			image.className = "image";
			image.src = data.cover;            // image.src = "IMAGE URL/PATH"
		
			cell3.appendChild(image);
  

}

function getNextBook()
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", "next", false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}

window.onload = function(e){ 
	
    var img = document.getElementsByClassName("image");

    for(i=0; i<img.length; i++) {
      img[i].style.height = maxImgSizeBasedOnHeightOfBrowser;
    }
	
	window.onscroll = function(e) {
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight && isAllDataReceived == false) {
	
		var	receivedDataString = getNextBook();
		if(receivedDataString == ""){ 
			isAllDataReceived = true;
			return;
		}
		
		insertRow(JSON.parse(receivedDataString));

    }
};
	
	
	
}
</script>
</head>
<body>

<table id="mainTable">
<tbody>


    <% books.forEach(function(book) { %>
	<tr>
        <td><%= book.title %></td>
		<td><%= book.author %></td>
		<td><img src="<%= book.cover %>" class="image" /></td>
	</tr>
    <% }); %>

</tbody>
</table>
</body>
</html>