<html>
<head>

<script>

var isAllDataReceived = false;
var maxImgSizeBasedOnHeightOfBrowser = window.innerHeight / 5;

function insertRow(data){
var table=document.getElementById("mainTable");
var row=table.insertRow(table.rows.length);

var titleCell=row.insertCell(0);
var titleText=document.createTextNode(data.title);	
	titleCell.appendChild(titleText);
var authorCell=row.insertCell(1);
var authorText=document.createTextNode(data.author);
	authorCell.appendChild(authorText);
var imageCell=row.insertCell(2);
var image = document.createElement("img");
	image.style.height = maxImgSizeBasedOnHeightOfBrowser;
	image.className = "image";
	image.src = data.cover;
	imageCell.appendChild(image);
}

function getNextBook()
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", "next", false );
    xmlHttp.send( null );
    return xmlHttp.responseText;
}

window.onload = function(e){ 
	
    var img = document.getElementsByClassName("image");

    for(i=0; i<img.length; i++) {
      img[i].style.height = maxImgSizeBasedOnHeightOfBrowser;
    }
	
	window.onscroll = function(e) {
		if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight && isAllDataReceived == false) {
		
			var	receivedDataString = getNextBook();
			if(receivedDataString == ""){ 
				isAllDataReceived = true;
				return;
			}
			
			insertRow(JSON.parse(receivedDataString));

		}
	};
		
}
</script>
<link href="/css/style.css" rel="stylesheet" type="text/css">
<title>List of books in our library.</title>
</head>
<body>
<a href="/">back</a>
<%if (result == "error") { %>
<div class="error"><%= txt %> </div>
<% } else { %>
<div id="content">
<table id="mainTable">
<tbody>
<thead>
<tr>
<th>Title</th>
<th>Author</th>
<th>Cover</th>
</tr>
</thead>

    <% books.forEach(function(book) { %>
	<tr>
        <td><%= book.title %></td>
		<td><%= book.author %></td>
		<td><img src="<%= book.cover %>" class="image" /></td>
	</tr>
    <% }); %>

</tbody>
</table>
</div>
 <% } %>
</body>
</html>